@if(CurrentGame is not null){
    <h3>@CurrentGame.Title</h3>

    <p>Genre : @CurrentGame.Genre</p>
    <p>Année de sortie : @CurrentGame.ReleaseYear</p>
    <p>Note des fans : @CurrentGame.Note</p>
}

@code {

}
